@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  overflow: hidden;
}
.first-Img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
  height: 82px;
  left: 163px;
}

h1 {
  font-family: "Zen Kaku Gothic Antique";
  font-size: 39.06px;
  font-weight: 900;
  line-height: 46.87px;
  text-align: center;
  color: white;
  width: 380px;
  height: 88px;
  gap: 0px;
}

p {
  font-family: "Zen Kaku Gothic Antique";
  font-size: 16px;
  font-weight: 400;
  line-height: 28.16px;
  color: #bdbdbd;
  width: 380px;
  height: 61px;
  gap: 0px;
  text-align: center;
}
.Col-1 {
  padding: 0 !important;
}
.topleft {
  color: #000000;
}
.spanButton {
  width: 74px;
  height: 23px;
  top: 36px;
  left: 519px;
  font-family: "Zen Kaku Gothic Antique";
  font-size: 12.8px;
  font-weight: 400;
  line-height: 22.53px;
  text-align: center;
  color: #424242 !important;
}

.moved-image {
  transform: translateY(-170px);
}
.text {
  transform: translateY(-290px);
}
.input-container {
  position: relative;
  width: 420px;
  height: 72px;
  gap: 0px;
  border: 1px 0px 0px 0px;
}

.input-field {
  padding: 10px 10px 10px 40px;
  border: 1px solid "#757575";
  border-radius: 4px;
  box-sizing: border-box;
  width: 420px;
  height: 72px;
  gap: 0px;
  background: #ffffff;
  color: #424242;
  font-family: "Zen Kaku Gothic Antique";
  font-size: 16px;
  font-weight: 400;
  line-height: 28.16px;
  text-align: left;
  border: 2px solid #757575;
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 20px;
  margin-left: 5px;
}

.show-Visibility {
  position: absolute;
  left: 300px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 15px;
  margin-left: 5px;
}
span p {
  position: absolute;
  right: -100px;
  top: 60%;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 20px;
  margin-left: 5px;
}
.icon {
  margin-left: 180px;
}

.bt1 {
  width: 420px;
  height: 72px;
  top: 270px;
  gap: 0px;
  background: #24243e;
  border-radius: 0 !important;
}
